<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://www.paypal.com/sdk/js?client-id=AfgzOXuUBgDRNRXUsJaVFcLBqZr04dutzohmLpM4Qz1KQEVBGI-6blmilD7QOrVCvqEGFa2APYMe3VUd&currency=USD"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
