@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Space+Mono:700');
 * {
	 margin: 0;
	 padding: 0;
	 box-sizing: border-box;
}
 html, body {
	 height: 100%;
	 font-size: 16px;
	 font-weight: 400;
}
 html, body, button, input[type="text"] {
	 font-family: "Lato", sans-serif;
}
 .center-wrapper {
	 padding: 0rem;
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: vertical;
	 -webkit-box-direction: normal;
	 -ms-flex-direction: column;
	 flex-direction: column;
	 -webkit-box-pack: center;
	 -ms-flex-pack: center;
	 justify-content: center;
	 min-height: 100%;
}

 .content {
	 margin: 0px auto;
	 max-width: 1000px;
	 border: 1px solid white;
	 background: white;
}

.transaction-completed-lty {
  display: none;
  width: 1000px;
  background: white;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  margin-top: 40px;
  margin-bottom: 20px;
}

 nav, .top-bar, .bag, .bag-total, .help {
	 padding: 0.5rem 1rem;
}
 nav, a, .btn-go-checkout {
	 color: white;
}
 nav {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-orient: horizontal;
	 -webkit-box-direction: normal;
	 -ms-flex-flow: row nowrap;
	 flex-flow: row nowrap;
	 -webkit-box-pack: justify;
	 -ms-flex-pack: justify;
	 justify-content: space-between;
	 -webkit-box-align: center;
	 -ms-flex-align: center;
	 align-items: center;
	 background: dodgerblue;
}

.stat-bar {
	background: dodgerblue;
	height: 40px;
}

.img-container {
	text-align: center;
	display: block;
	margin: 80px auto;
	min-height: 600px
  }

  .img-text{
	margin: 20px auto;
	text-align: center;
  }

 a {
	 padding: 0.2rem 0.5rem;
	 border: 2px solid white;
	 text-decoration: none;
}
 .logo {
	 font-family: "Space Mono", sans-serif;
}
 .logo, button {
	 text-transform: uppercase;
}
 .fa-search, .fa-arrow-left, .fa-lock {
	 margin-right: 1rem;
}

.backbtn{
	margin-right: 1rem;
}
 .top-bar, .bag-head::after, .bag-total::before {
	 background: whitesmoke;
}
 .bag-head::after, .bag-total::before, .btn-remove {
	 display: block;
}
 .bag-head::after, .bag-total::before, .description-text, .promo-checkbox {
	 margin: 0.5rem 0;
}
 .bag-head::after, .bag-total::before {
	 content: "";
	 width: 100%;
	 height: 3px;
}
 .muted {
	 color: grey;
}
 .change-delivery, ::placeholder, .product-code, .help {
	 font-size: 0.8rem;
}
 h1 {
	 font-size: 1.6rem;
}
 h2 {
	 font-size: 1.4rem;
}
 .image {
	 width: 40%;
}
 .image img.product-image {
	 max-width: 100%;
}
 .description {
	 padding-right: 1rem;
	 width: 60%;
}
 select {
	 padding: 0.3rem;
	 width: 60px;
}
 select, button, input[type="text"] {
	 height: 40px;
}
 button {
	 cursor: pointer;
	 width: 100px;
	 background: none;
	 border: 2px solid #96c;
}

.iphone-image-lty {
	position: absolute;
	z-index: 100;
	left: 49.8%;
	top: 0%;
  	transform: translate(-49.8%, 0%);
}

.content-lty {
	display: inline-block;
    vertical-align: middle;
	position: relative;
	height: 100%;
}

 .quantity-wrapper {
	 -webkit-box-align: start;
	 -ms-flex-align: start;
	 align-items: flex-start;
	 -webkit-box-orient: horizontal;
	 -webkit-box-direction: normal;
	 -ms-flex-flow: row wrap;
	 flex-flow: row wrap;
	 margin: 1rem 0 0.5rem;
}
 select {
	 width: 50px;
	 margin-right: 1rem;
}
 .bag-product, .quantity-wrapper, .subtotal, .delivery, .total, .promo-code {
	 display: -webkit-box;
	 display: -ms-flexbox;
	 display: flex;
	 -webkit-box-pack: justify;
	 -ms-flex-pack: justify;
	 justify-content: space-between;
}
 .subtotal, .delivery, input[type="checkbox"], .help {
	 margin-bottom: 0.5rem;
}
 .total {
	 margin-bottom: 1rem;
}
 button, .change-delivery {
	 color: #96c;
}
 input[type="text"], .btn-go-checkout {
	 font-size: 1rem;
}
 input[type="text"] {
	 width: calc(100% - 100px - 1rem);
	 padding: 0.5rem;
}
 .btn-go-checkout {
	 margin-top: 1rem;
	 width: 100%;
	 height: 40px;
	 background: #96c;
	 box-shadow: 0 3px 6px 2px #dcdcdc;
}
 .help {
	 text-align: center;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
	z-index: 1;
	position: absolute;
	z-index: 100;
	left: 35%;
	top: 35%;
  	transform: translate(-35%, -35%);
  }

  .loader-lty{
	width: 100%;
	height: 100%;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

 